# L2TP Requirement
CONFIG_PACKAGE_ipsec-tools=y
CONFIG_PACKAGE_iptables-mod-ipsec=y
CONFIG_PACKAGE_kmod-lib-crc-ccitt=y
CONFIG_PACKAGE_kmod-crc16=y
CONFIG_PACKAGE_kmod-crypto-aes=y 
CONFIG_PACKAGE_kmod-crypto-arc4=y 
CONFIG_PACKAGE_kmod-crypto-authenc=y 
CONFIG_PACKAGE_kmod-crypto-core=y 
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-hmac=y 
CONFIG_PACKAGE_kmod-crypto-md5=y  
CONFIG_PACKAGE_kmod-crypto-sha1=y  
CONFIG_PACKAGE_kmod-ipsec=y  
CONFIG_PACKAGE_kmod-ipsec4=y  
CONFIG_PACKAGE_kmod-ppp=y  
CONFIG_PACKAGE_libreswan=y  
CONFIG_PACKAGE_ppp=y 
CONFIG_PACKAGE_xl2tpd=y 
CONFIG_PACKAGE_strongswan-default=y 
