# LuCI Themes
#CONFIG_PACKAGE_luci-theme-argon=y
#CONFIG_PACKAGE_luci-app-argon-config=y
#CONFIG_PACKAGE_luci-theme-material=y
#CONFIG_PACKAGE_luci-theme-netgear=y
#CONFIG_PACKAGE_luci-theme-opentopd=y
#CONFIG_PACKAGE_luci-theme-darkmatter=y
#CONFIG_PACKAGE_luci-theme-atmaterial_new=y
#CONFIG_PACKAGE_luci-theme-edge=y
#CONFIG_PACKAGE_luci-theme-ifit=y
#CONFIG_PACKAGE_luci-theme-opentomato=y
#CONFIG_PACKAGE_luci-theme-opentomcat=y
#CONFIG_PACKAG_luci-theme-bootstrap-mod=y
